{% extends 'public/layout.html' %}
{% block content %}
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 langtag="word-connectionport"></h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">仪表盘</h1>
                    {{ request.get_full_path }}
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
