{% extends "index.html" %}
{% block content %}
    <div id="nav" class="nav">

        <span class="nav_list">主机列表</span>
        /
        <span class="nav_info">主机信息</span>
        {% block nav_info %}

        {% endblock %}
    </div>

    <div id="content" class="content">
        {% block hostlist_content %}

            <button class="add_but" onclick="document.getElementById('add_content').style.display='block';
    document.getElementById('fade').style.display='block';">
                添加主机
            </button>
            <div class=" host_table">
                <table>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>主机名称</th>
                        <th>IP</th>
                        <th>域名</th>
                        <th>用户名</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for list in hostlist %}
                        <tr>
                            <td>
                                {{ list.id }}
                            </td>
                            <td>
                                {{ list.host_name|truncatechars_html:15 }}
                            </td>
                            <td>
                                {{ list.host_ip }}
                            </td>
                            <td>
                                {{ list.domain|truncatechars_html:15 }}
                            </td>
                            <td>
                                {{ list.host_user }}
                            </td>
                            <td>
                                <a class="edit" href="{% url 'deploy_app:hostListUpdate' list.id %}">编辑</a> |
                                {#                                <a class="del" href="#" data-method="POST"#}
                                {#                                   data-url="{% url 'deploy_app:hostListDelete' list.id %}" data-confirm="确定删除吗？">删除</a>#}
                                <a class="del" href="/hostlist/delete?host_id={{ list.id }}"
                                   onclick="if(confirm('确定删除?')==false)return false;">删除</a>

                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td>
                                <h2>暂无</h2>
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endblock %}
    </div>

    <div id="add_content" class="add_content">
        <div class="add_head">添加主机</div>
        <form action="{% url 'deploy_app:hostList' %}" method="post" id="form_data" enctype="multipart/form-data"
              novalidate>
            {% csrf_token %}
            <div class="add_list">
                <div class="line">
                    <span class="t_name">主机名称：</span>
                    <div class="info-r">
                        {{ form.host_name }} {{ form.host_name.erros.0 }}
                    </div>
                </div>
                <div class="line">
                    <span class="t_name">IP地址：</span>
                    <div class="info-r">
                        {{ form.host_ip }}
                    </div>

                </div>
                <div class="line">
                    <span class="t_name">域名：</span>
                    <div class="info-r">
                        {{ form.domain }}
                    </div>

                </div>
                <div class="line">
                    <span class="t_name">用户名：</span>
                    <div class="info-r">
                        {{ form.host_user }}
                    </div>
                </div>
                <div class="line">
                    <span class="t_name">密码：</span>
                    <div class="info-r">
                        {{ form.host_password }}
                    </div>

                </div>
                <div class="line">
                    <span class="t_name">端口：</span>
                    <div class="info-r">
                        {{ form.host_port }}
                    </div>

                </div>
                <div class="line">
                    <span class="t_name">密钥：</span>
                    <div class="info-r">
                        {{ form.host_key_file }}
                    </div>

                </div>
                <div class="test_but">
                    <button id="test_connect" type="button">测试连接</button>
                    <span id="connect_info"></span>
                </div>
            </div>
            <div class="add_bottom">
                <button id="clear_but" class="clone_but" onclick="document.getElementById('add_content').style.display='none';
                    document.getElementById('fade').style.display='none';" type="button">
                    关闭
                </button>
                <button id="but" type="submit">提交</button>
            </div>
        </form>
    </div>
    <div id="fade" class="black_overlay"></div>
    {% load static %}
    <script type="text/javascript" src="{% static "js/jquery.cookie.js" %}"></script>
    <script type="text/javascript">
        $(".host_table table tbody").find('a[data-method="POST"]').each(function () {
            $(this).click(function () {
                var confirmTxt = $(this).attr('data-confirm');
                if (confirm(confirmTxt)) {
                    var url = $(this).attr('data-url');
                    var form = document.createElement('form');
                    var csrfInput = document.createElement('input');
                    csrfInput.name = 'csrfmiddlewaretoken'
                    csrfInput.value = $.cookie('csrftoken');
                    form.appendChild(csrfInput);

                    form.method = 'post';
                    form.action = url;
                    form.style.display = 'none';
                    document.body.append(form);
                    form.submit();
                    return form;
                }
                return false;
            })
        })
        $(function () {
            $('#test_connect').on('click', function () {
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "{% url  'deploy_app:hostTestConnect' %}",
                    data: $('#form_data').serialize(),
                    async: true,
                    success: function (data) {
                        if (data.status == 'success') {
                            $('#connect_info').html(data.msg)
                        } else if (data.status == 'failure') {
                            $('#connect_info').html(data.msg)
                        }
                    }
                })
            })
        })
    </script>
{% endblock %}
