<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .nav {
            background-color: #ffffff;
            height: 50px;
            margin: 24px 24px 0px 24px;
            {#padding-top: 10px;#}
        }

        .content {
            background-color: #ffffff;
            height: 100%;
            margin: 24px;
        }
        img{
            padding-top: 10px;
        }


    </style>
</head>


<body>
<div id="nav" class="nav">
    <img src="../static/img/icon/location.png">
    <span>主机列表/</span>
    <span>主机信息</span>
</div>
<div id="content" class="content">

</div>
</body>
</html>